.footer {
    position: relative;
    a {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        &:hover {
            text-decoration: underline;
        }
    }
}
.social-media {
    img{
        display: block;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        margin-right: 0.5rem;
    }

    a:nth-child(3) > img {
        margin-right: 0;
    }
    
}
