<footer class="footer pt-3 pb-3 bg-white">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="imprint">
            <a href="">Imprint</a>
        </div>
        <div class="social-media d-flex align-items-center">
            <a target="_blank" href="https://github.com/bjede">
                <img src="/assets/icons/github-fill.png/" alt="">
            </a>
            <a href="">
                <img src="/assets/icons/xing-fill.png" alt="">
            </a>
            <a href="">
                <img src="assets/icons/linkedin-box-fill.png" alt="">
            </a>
        </div>
    </div>
</footer>