.footer {
    position: relative;
    background-color: white;

    a {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        &:hover {
            text-decoration: underline;
        }

        img {
            transition: all 125ms ease-in-out;
            &:hover {
                filter: invert(40%);
            }
        }
    }
}

.bg-grey {
    background-color: rgb(243, 243, 243);
}

.social-media {
    img {
        display: block;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        margin-right: 0.5rem;
    }

    a:nth-child(3) > img {
        margin-right: 0;
    }
}
