.about-me {
    min-height: 15rem;
    background-color: var(--c-grey);
    padding: 5rem 0;
    color: white;
    overflow: hidden;


    .about-me__image {
        width: 25rem;
        height: 25rem;
        object-fit: cover;
    }
}

.about-me__image-container {

    @media (max-width: 47em) {
       flex-direction: row;
       justify-content: center !important;
    }
}
