<section id="about-me" class="about-me">
    <div class="container">
        <div class="row flex-row-reverse">
            <div
                class="about-me__image-container col-12 col-md-7 d-flex justify-content-end align-items-center mt-5 mb-5">
                <img data-aos="fade-left" class="about-me__image rounded-circle" src="assets/images/aldin.jpg" alt="">
            </div>
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-start mt-5 mb-5">
                <div data-aos="fade-right" class="container-inner">
                    <h2 class="text-white text-uppercase mb-3 ">About me</h2>
                    <p class="lh-lg">
                        I am a junior frontend developer and discovered my passion for web and software development. My
                        journey started 10 years ago when I discovered programming for myself. After some time, I took a
                        different path. Eventually, it brought me back to the field of web development. While searching
                        for a suitable training for me, I came across the Developer Academy. Here I will be trained as a
                        front-end developer and prepared for my career entry. After successfully completing my training,
                        I would like to start a career as a front-end developer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>