<section id="about-me" class="about-me">
    <div class="container">
        <div class="row flex-row-reverse">
            <div
                class="about-me__image-container col-12 col-md-7 d-flex justify-content-end align-items-center mt-5 mb-5">
                <img data-aos="fade-left" class="about-me__image rounded-circle" src="assets/images/aldin.jpg" alt="">
            </div>
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-start mt-5 mb-5">
                <div data-aos="fade-right" class="container-inner">
                    <h2 class="text-white text-uppercase mb-3 ">About me</h2>
                    <p class="lh-lg">
                        I am a junior frontend developer
                        and discovered my passion in web & software development.


                        My journey began 10 years ago when I discovered programming. After a while I took a different
                        path. In the end it brought me back to the field of web development.

                        In search of a suitable training for me, I came across the Developer Academy. Here I am trained
                        as a frontend developer and prepared for my career entry.

                        After my successfully completed training, I would like to start a career as a frontend
                        developer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>