<section id="projects" class="my-work bg-black">
    <div class="container">
        <div class="row">
            <h2 data-aos="fade-right" class="headline mb-s text-uppercase text-center text-white">My work</h2>
            <div data-aos="zoom-out-up" data-aos-duration="1000" class="my-work__btn-container d-flex justify-content-center align-items-center pb-5">
                <button (click)="showAllProjects()" class="my-work__btn text-uppercase">All</button>
                <button (click)="showCurrentProjects('angular')" class="my-work__btn text-uppercase">Angular</button>
                <button (click)="showCurrentProjects('javascript')" class="my-work__btn text-uppercase">Javascript</button>
            </div>
            <div *ngFor="let project of currentProjects" class="col-sm-6 col-md-6 col-lg-4">
                <div data-aos="flip-left" data-aos-duration="1000" class="card mt-4 border-0 bg-transparent text-white">
                    <img src="{{ project.img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a target="_blank" href="{{ project.link }}" class="btn text-white text-uppercase">Check it
                            out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>