<div class="image-overlay d-flex justify-content-start align-items-end">
    <img class="zoom-in" src="assets/images/{{images[currentImage]}}.jpg" alt="">
    <div class="iamge-overlay-bg"></div>
    <div class="container">
        <div data-aos="fade-right" data-aos-duration="2000" class="intro-text">
            <h2 class="text-white">Hi, i'am <strong>Aldin,</strong></h2>
            <div class="d-flex">
                <p class="tw1 text-white"></p>
                <p class="tw2 text-white"></p>
            </div>
        </div>
    </div>
    <div (click)="scrollToPosition('skills')" class="mouse_scroll">
		<div>
			<span class="m_scroll_arrows arrow-one"></span>
			<span class="m_scroll_arrows arrow-two"></span>
			<span class="m_scroll_arrows arrow-three"></span>
		</div>
</div>
</div>