<section class="contact pt-5 pb-5 bg-black">
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase text-center text-white pb-lg-5">Contact me</h2>


            <div class="col-12 col-md-6">
                Contact
            </div>

            <div class="col-12 col-md-6">
                <form class="contact__form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control rounded-0" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control rounded-0" id="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="text-area" class="form-label">Example textarea</label>
                        <textarea class="form-control rounded-0" id="text-area" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn rounded-0 text-white text-uppercase">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>