<section class="contact pt-5 pb-5 bg-black">
    <div class="container">
        <div class="row">
            <h2 class="headline text-uppercase text-center text-white">Contact me</h2>


            <div class="col-12 col-md-6">
                <address>
                    <div class="contact__adress">
                        <img class="contact__icon" src="/assets/icons/location.png" alt="">
                        <h5>Address</h5>
                        <p>Ankershofenstraße 8</p>
                        <p>9020 Klagenfurt</p>
                        <p>Österreich</p>
                    </div>
                    <div class="contact__direct">
                        <img class="contact__icon" src="/assets/icons/phone.png" alt="">
                        <h5>Direct</h5>
                        <a href="tel:+6504975801">+650 49 75 801</a>
                    </div>
                    <div class="contact__web">
                        <img class="contact__icon" src="/assets/icons/global.png" alt="">
                        <h5>Web</h5>
                        <a class="d-block" href="#">aldin-bijedic.at</a>
                        <a class="d-block" href="mailto:aldin.bijedic@gmx.at">aldin.bijedic@gmx.at</a>
                    </div>
                </address>
            </div>

            <div class="col-12 col-md-6">
                <form class="contact__form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control rounded-0" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control rounded-0" id="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="text-area" class="form-label">Example textarea</label>
                        <textarea class="form-control rounded-0" id="text-area" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn rounded-0 text-white text-uppercase">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>