<section id="contact" class="contact bg-black">
    <div class="container">
        <div class="row">
            <h2 data-aos="fade-right" data-aos-duration="800" class="headline mb-s text-uppercase text-center text-white">Contact me</h2>
            <div class="col-12">
                <address class="address d-flex justify-content-between align-items-center flex-wrap">
                    <div data-aos="fade-right" class="contact__adress">
                        <img class="contact__icon" src="assets/icons/location.png" alt="">
                        <h5>Address</h5>
                        <p>Ankershofenstraße 8</p>
                        <p>9020 Klagenfurt</p>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000" class="contact__direct">
                        <img class="contact__icon" src="assets/icons/phone.png" alt="">
                        <h5>Direct</h5>
                        <a href="tel:+6504975801">+650 49 75 801</a>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1500" class="contact__web">
                        <img class="contact__icon" src="assets/icons/global.png" alt="">
                        <h5>Web</h5>
                        <a class="d-block" href="#">aldin-bijedic.at</a>
                        <a class="d-block" href="mailto:aldin.bijedic@gmx.at">aldin.bijedic@gmx.at</a>
                    </div>
                </address>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div data-aos="fade-right" data-aos-duration="1000" class="mapouter mt-4">
                    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%C3%96sterreich,%20Ankershofenstra%C3%9Fe%208&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <form id="login-form" (submit)="send(); false" data-aos="fade-left" data-aos-duration="1500" class="contact__form mt-4">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input required  type="text" placeholder="Enter your Name" class="form-control rounded-0" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input required  type="email" class="form-control rounded-0" id="email" placeholder="Enter your Email adress">
                    </div>
                    <div class="mb-3">
                        <label for="text-area" class="form-label">Message</label>
                        <textarea required  placeholder="Enter your Message" class="form-control rounded-0" id="text-area"
                            rows="6"></textarea>
                    </div>
                    <button id="send-btn" class="btn rounded-0 text-white text-uppercase">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>