<nav class="nav pt-3 pb-3">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="#" class="nav__logo">Logo</a>
        <ul class="nav__list d-flex align-items-center">
            <li class="nav__list-item">
                <a href="/" class="nav__link">
                    Home
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('skills')" href="#skills" class="nav__link">
                    Skills
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('about')" href="#about-me" class="nav__link">
                    About
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('projects')" href="#projects" class="nav__link">
                    Projects
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('contact')" href="#contact" class="nav__link">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>