<nav class="nav pt-2 pb-2">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="#" class="nav__logo-link">
            <img class="nav__logo" src="assets/icons/logo4.png" alt="">
        </a>
        <ul class="nav__list menu-desktop d-flex align-items-center">
            <li class="nav__list-item">
                <a (click)="scrollToTop()" href="#home" class="nav__link">
                    Home
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('skills')" href="#skills" class="nav__link">
                    Skills
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('about')" href="#about-me" class="nav__link">
                    About
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('projects')" href="#projects" class="nav__link">
                    Projects
                </a>
            </li>
            <li class="nav__list-item">
                <a (click)="scrollToPosition('contact')" href="#contact" class="nav__link">
                    Contact
                </a>
            </li>
        </ul>
        <ul id="menu-mobile" class="navbar__mobile">
            <li class="navbar__mobile-list-item">
                <a (click)="scrollToTop()" href="#home" class="nav__mobile-link">
                    Home
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a (click)="scrollToPosition('skills')" href="#skills" class="nav__mobile-link">
                    Skills
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a (click)="scrollToPosition('about')" href="#about-me" class="nav__mobile-link">
                    About
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a (click)="scrollToPosition('projects')" href="#projects" class="nav__mobile-link">
                    Projects
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a (click)="scrollToPosition('contact')" href="#projects" class="nav__mobile-link">
                    Contact
                </a>
            </li>
        </ul>
        <section class="only-mobile">
            <input (click)="burgerMenuToggle()" id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
        </section>
    </div>
</nav>