<section class="skills pt-5 pb-5">
    <h2 class="headline mb-l text-center text-white text-uppercase">My Skills</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/angular.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Angular</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/typescript.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Typescript</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/js.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Javascript</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/html5.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Html 5</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/css3.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Css 3</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/bootstrap.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Bootstrap</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/git.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Git</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/Group 226.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Scrum</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="skills__card mb-6 rounded-2 d-flex align-items-center justify-content-center">
                    <div class="skills__header shadow-sm">
                        <img src="/assets/icons/icons8-rest-api-80 2.png" alt="">
                    </div>
                    <h3 class="fs-4 text-uppercase m-0 mt-2">Restful Api</h3>
                </div>
            </div>
        </div>
    </div>
</section>