.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2.9rem;
    height: 2.9rem;
    background-color: var(--c-primary);
    border-radius: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.2rem;
    transition: all 125ms ease-in-out;
    animation: fadeIn 500ms ease-in-out both;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-image: url('./../../assets/icons/expand-less.png');
        background-size: contain;
    }
}


@keyframes fadeIn {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}
